/* .categories {
  display: flex;
  justify-content: space-evenly;
}

.clientInformation {
  display: flex;
  justify-content: space-around;
} */

table,th,td  {
  border: 1px solid black;
}

td, th {
  width: 150px;
  margin: 0px 20px;
  text-align: center;
}